* {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --fill-color: #444042;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  width: 90vw;
  margin: 50px auto 30px;
  column-gap: 15px;
}

.settings {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-items: start;
  display: block;
}

hr {
  margin: 10px 0;
}

p {
    font-size: 1.1rem;
}

.options {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.options p, input, .btn {
    margin: 5px;
    padding: 5px 0;
}

.options > input[type="number"] {
    width: 250px;
    padding: 5px;
}

.sketchContainer {
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  width: 600px;
  height: 600px;
  display: grid;
  border: 3px solid black;
  box-sizing: content-box;
}

.btn {
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  min-width: 64px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  background-color: purple;
  color: white;
  outline: none;
}

.btn:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24),
    0 10px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.135s;
  transition-property: box-shadow;
}

.empty-grid {
  background-color: #939aa4;
}

.filled-grid {
  background-color: var(--fill-color) !important;
}
